.custom-select-wrapper {
    position: relative;
    user-select: none;
    width: 90px;
}
.custom-select {
    position: relative;
    display: flex;
    flex-direction: column;
    border-width: 0 2px 0 2px;
    border-style: solid;
    border-color: grey;
}
.custom-select__trigger {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    font-size: 20px;
    font-weight: 300;
    color: #3b3b3b;
    height: 43px;
    line-height: 60px;
    background: #ffffff;
    cursor: pointer;
    border-width: 2px 0 2px 0;
    border-style: solid;
    border-color: grey;
}
.custom-options {
    position: absolute;
    display: block;
    top: -300%;
    left: 0;
    right: 0;
    border: 2px solid grey;
    border-top: 0;
    background: #fff;
    transition: all 0.5s;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 2;
}
.custom-select.open .custom-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}
.custom-option {
    position: relative;
    display: block;
    padding: 0 22px 0 22px;
    font-size: 22px;
    font-weight: 300;
    color: #3b3b3b;
    line-height: 43px;
    cursor: pointer;
    transition: all 0.5s;
}

@media only screen and (max-width: 700px) {
.custom-option {
    padding: 0;
    text-align: center;
}
}
.custom-option:hover {
    cursor: pointer;
    background-color: #b2b2b2;
}
.custom-option.selected {
    color: #ffffff;
    background-color: grey;
}

.arrow {
    position: relative;
    height: 15px;
    width: 15px;
}

@media only screen and (max-width: 700px) {
    .arrow {
        display: none;
    }
}

.arrow::before, .arrow::after {
    content: "";
    position: absolute;
    bottom: 0px;
    width: 0.15rem;
    height: 100%;
    transition: all 0.5s;
}
.arrow::before {
    left: -5px;
    transform: rotate(45deg);
    background-color: grey;
}
.arrow::after {
    left: 5px;
    transform: rotate(-45deg);
    background-color: grey;
}
.open .arrow::before {
    left: -5px;
    transform: rotate(-45deg);
}
.open .arrow::after {
    left: 5px;
    transform: rotate(45deg);
}