@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;600&display=swap');

.material-icons{
    cursor: pointer;
}

input[type="file"]{
    cursor: pointer;
}

body {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.bolt{
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.font-famil{
    font-family: 'Montserrat', sans-serif;
}
  