.pop-ap-window-link-info-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0,0,0,0.7);
    top:0;
    left: 0;
    z-index: 4;
}

.hide-pop-ap-window-link-info-container{
    display: none !important;
}

.pop-ap-window-link-info{
    background-color: white;
    width: 500px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

@media only screen and (max-width: 700px) {
  .pop-ap-window-link-info{
    width: 90%;
  }
}

.link-line{
    width: 300px;
    height: 30px;
    background-color: white;
    display: flex;
    align-items: center;
    border: solid 0.1px grey;
    border-radius: 7px;
    transition: 0.5s;
}

.link-line:focus{
    outline: none;
}

.pop-ap-row{
    display: flex;
    flex-direction: row;
}
@media only screen and (max-width: 700px) {
  .pop-ap-row {
    flex-direction: column;
    align-items: center;
  }
}

.link-copy-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-left: 10px;
    width: 34px;
    border-radius: 10px;
    cursor: pointer;
}

@media only screen and (max-width: 700px) {
  .link-copy-btn{
    margin-top: 20px;
  }
}

.link-copy-btn:active{
    background-color: rgba(0,0,0,0.2);
}

.close-pop-ap-window-link-info{
    width: 500px;
    display: flex;
    flex-direction: row-reverse;
}

@media only screen and (max-width: 700px) {
  .close-pop-ap-window-link-info{
    width: 90%;

  }
}

.color-icon-close{
    color: white;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
  }


  .pop-ap-window-user-info-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0,0,0,0.7);
    top:0;
    left: 0;
    z-index: -1 !important; 
    opacity: 0 !important; 
  } 
  
  .hide-pop-ap-window-user-info-container{
    display: none !important;
  }


  .pop-ap-window-user-info{
    background-color: white;
    width: 600px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
  }
  

  @media only screen and (max-width: 700px) {
    .pop-ap-window-user-info{
      width: unset;
      padding-left: 20px;
      padding-right: 20px;
      margin: 10px;
    }
  }

  .pop-ap-window-user-info div{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }

  .pop-ap-window-user-info input{
    outline: none;
    width: 70%;
    height: 23px;
  }
  .pop-ap-window-user-info textarea{
    outline: none;
    width: 70%;
}

  .close-pop-ap-window-user-info{
    width: 700px;
    display: flex;
    flex-direction: row-reverse;
  }

  @media only screen and (max-width: 700px) {
    .close-pop-ap-window-user-info{
      width: 90%;
    }
} 

  .sent-request{
      border-radius: 7px;
      border:solid 0.5px grey;
      width: 70px !important;
      align-self: flex-end;
      height: 50px;
      display: flex;
      justify-content: center !important;
      align-items: center;
      cursor: pointer;
  }

  .sent-request:active {
      background-color: rgba(0,0,0,0.2);
  }

.link-container{
  position: relative;
}

.input-loading,
.input-loading:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.input-loading {
  top: 20%;
    right: 2px;
  /* margin: 60px auto; */
  font-size: 2px;
  position: absolute;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #4b4343;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}