@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;600&display=swap');

.main{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.model{
    margin-right: 20px;
}

@media only screen and (max-width: 700px) {
    .main{
        flex-direction: column;
        align-items: center;
    }

    .model{
        margin-right: 0px;
    }
  }

.config-umbrella{
    width: 50%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.config-umbrella > div{
    padding: 20px;
}

@media only screen and (max-width: 880px) and (min-width: 700px){
    .config-umbrella > div{
        padding: 10px;
    }
}

@media only screen and (max-width: 700px) {
    .config-umbrella{
        display: none;
        position: absolute;
    }

    .model{
        margin-top: 15px;
        width: 95%;
        height: 369px;
    }
    .pop-up-config{
        display: block;
        height: unset;
        z-index: 3;
        background-color:rgb(255,255,0255);
        width: 100%;
        height: 100%;
    }

    .pop-up-config > div{
        background-color: white;
        margin: 10px;
        padding: 10px;
        height: 100%;
    }
  }

.config-umbrella__header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media only screen and (max-width: 700px) {
    .config-umbrella__header{
        flex-direction: column;
    }
}

nav{
    position: relative;
    width: 65%;
    height: 600px;
    border: 2px solid rgba(0,0,0,0.3);
}

.config-umbrella__collors{
    width: 50%;
    /* height: 150px; */
    min-height: 50px;
    max-height: 150px;
    /* height: 150px; */
    height: fit-content;
}

@media only screen and (max-width: 700px) {
    .config-umbrella__collors{
        width: 100%;
    }  
}

.colors-palette{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    max-height: 120px;
    overflow-y: scroll;
    margin-right: 5px;
    align-content: flex-start;
    margin-right: 10px;
}


@media only screen and (max-width: 700px) {
    .config-umbrella__files{
    width: 100%;
}
}

.color-palette{
    cursor: pointer;
    width: 35px;
    height: 18px;
    margin: 4px 4px 0 0;
    border: 1px solid grey;
}

.add-file__button{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
}

.add-file__input{
    font-size: 15px;
    position: relative;
    width: 200px;
}

@media only screen and (max-width: 880px) and (min-width: 700px){
    .add-file__input{
        width: 169px;
    }
}

@media only screen and (max-width: 700px) {
    .add-file__input{
       width: 230px;
       height: 50px;
    }
}

#image-file{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

#ul-list-files{
    max-height: 70px;
    overflow: auto;
    margin-top: 5px;
}

#ul-list-files > div{
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.item_list_files{
    width: 130px;
    height: 18px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 5px;
    font-family: 'Montserrat', sans-serif;
}

.wand{
    margin-left: 10px;
    cursor: pointer;
    height: 22px;
    width: 22px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('https://schirmmacher.es/fileadmin/produktdata/media-processed/icon-remove-bg.svg');
}

.copy-file{
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    height: 22px;
    width: 22px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('https://schirmmacher.es/fileadmin/produktdata/media-processed/icon-copy.svg');
}

.remove-file{
    cursor: pointer;
    height: 22px;
    width: 22px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('https://schirmmacher.es/fileadmin/produktdata/media-processed/icon-delete.svg');
}

.delete-image{
    cursor: pointer;
}

.add-file__text{
    color: white;
    background-color: grey;
    padding: 6px 10px 6px 20px;
}

@media only screen and (max-width: 880px) and (min-width: 700px){
    .add-file__text{
        padding: 6px 10px 6px 10px;
    }
}

.add-file__info{
    cursor: pointer;
    color: grey;
    font-size: 30px;
    /* position: absolute;
    bottom: 27px;
    left: 15px; */
    z-index: 3;
    margin-left: 20px;
}

@media only screen and (max-width: 880px) and (min-width: 700px){
    .add-file__info{
        margin-left: 10px;
    }
}

@media only screen and (max-width: 700px) {
    .add-file__info{
        display: none;
    }
}

.add-file__hint{
    pointer-events: none;
    position: absolute;
    opacity: 0;
    width: 350px;
    height: 150px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    background-color: rgba(255,255,255,0.8);
    top: -3px;
    right: -320px;
    z-index: 2;
    border-radius: 15px;
    box-shadow: 0px 0px 4px 0px #5f5f5f;
    flex-direction: column;
}

@media only screen and (max-width: 700px) {
    .add-file__hint{
        display: none;
    }
}


.add-file__text-hint{
    padding: 2.5px 0 2.5px 50px;
    display: flex;
    align-items: center;
}

.add-file__icon-hint{
    color: grey;
}

.icon-hint{
    width: 20px;
    height: 20px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.rm-bg{
    background-image: url('https://schirmmacher.es/fileadmin/produktdata/media-processed/icon-remove-bg.svg');
}

.cs-bg{
    background-image: url('https://schirmmacher.es/fileadmin/produktdata/media-processed/icon-delete.svg');
}

.cp-bg{
    background-image: url('https://schirmmacher.es/fileadmin/produktdata/media-processed/icon-copy.svg');
} 

.add-file__info:hover + .add-file__hint{
    opacity: 1;
}

.fabric{
    width: 100%;
    height: 400px;
    /* padding: 10px; */
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 700px) {
    .fabric{
        padding: 0;
        margin: 0 auto;
        width: 100%;
        margin-top: 20px;
        /* height: 370px; */
    }
}

#designTemplate{
    position: relative;
    top: 30px;
}

/* OCTAGON */
.octagonWrap{
    width: 400px;
    height: 400px;
    float: left;
    position: relative;
    display: flex;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#uv{
    width: inherit;
}

@media only screen and (max-width: 700px) {
    .octagonWrap{
        width: inherit;
        height: inherit;
        float: left;
        position: relative;
    }
    .octagonWrap > svg{
        height: inherit;
        width: inherit;
    }
}

.octagon{
    position: absolute;
    top: 0;
    right: 0; 
    bottom: 0; 
    left: 0;
    overflow: hidden;
    background-size: contain;
}

@media only screen and (max-width: 700px) {
    .octagon{
        top: 0px;
    }
}
#preview{
    width: inherit;
    height: inherit;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 85%;
    background-image: url("../assets/uvMap/umbrella_com/Umbrella_fabric_inscription.svg");
}

/* ---- */
.btn-container{
    display: flex;
    padding: 5px 0 0 20px;
}
@media only screen and (max-width: 700px) {
    .btn-container{
       justify-content: center;
       padding: 15px 20px 0px 20px;
    }
}

.footer-btn{
    background-color: rgba(227,6,19,1);
    height: 50px;
    border: none;
    color: white;
    width: 200px;
    margin-right: 20px;
    cursor: pointer;
    text-decoration: none;
}

.create-request {
    margin-right: 0px;
}

.footer-btn:active {
    background-color: rgba(227,6,19,0.6);
    box-shadow: none;
}

/*canvas*/

.canvas-container{
    width: 100% !important;
    height: 100% !important;
}

@media only screen and (max-width: 700px) {
    .canvas-container{
        width: 100% !important;
        height: 100% !important;
    }
}
.canvas-container > canvas{
    width: 100% !important;
    height: 100% !important;
}


/*bearbeien-btn*/
.bearbeien-btn{
    display: none;
}
.bearbeien-btn-container{
    display: none;
}
@media only screen and (max-width: 700px) {
.bearbeien-btn-container{
    display: flex;
    padding: 0px 20px 0px 20px !important;
    position: relative;
    top: -20px;
}
.bearbeien-btn{
    display: block;
    background-color: black;
    color: white;
    height: 50px;
    border: none;
    color: white;
    width: 200px;
    cursor: pointer;
    text-decoration: none;
}
    
    .footer-btn:active {
        background-color: rgba(0,0,0,0.6);
        box-shadow: none;
    }
}



.active-file{
    background-color: rgba(0,0,0,0.2);
}

#designNoteP{
    padding-left: 20px;
}

@media only screen and (max-width: 700px) {
#designNoteHeader, #designNoteP{
    display: none;
}
}


#second-canvas{
    border:1px solid black;
}

.uv-preloader-hide{
    display: none;
}

.uv-preloader{
    position: absolute;
    width: 400px;
    height: 400px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255,0.8);
    z-index: 10;
}