.model__controls {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.control {
  width: 45px;
  height: 45px;
  color: grey;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex !important;
  justify-content: center;
  align-items: center;
  margin: 5px;
  cursor: pointer;
  box-shadow: 1px 1px 2px 0px #cac6c6;
}

.control-hint-icon{
  width: 35px;
  height: 35px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.left-mouse{
  background-image: url('https://schirmmacher.es/fileadmin/produktdata/media-processed/icon-left-mouse.svg');
}

.right-mouse{
  background-image: url('https://schirmmacher.es/fileadmin/produktdata/media-processed/icon-right-mouse.svg');
}

.wheel-mouse{
  background-image: url('https://schirmmacher.es/fileadmin/produktdata/media-processed/icon-wheel-mouse.svg');
}

.control:active {
  box-shadow: none;
  background-color: rgba(255, 255, 255, 0.5);
}

.control__info {
  cursor: pointer;
  color: grey;
  font-size: 30px;
  position: absolute;
  bottom: 27px;
  left: 15px;
  z-index: 2;
}

@media only screen and (max-width: 700px) {
  .control__info {
    display: none;
  }
}

.control-hint__close {
  display: none !important;
}

.control-hint {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  bottom: 25px;
  left: 10px;
  /* padding: 25px 70px; */
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 15px;
  box-shadow: 0px 0px 4px 0px #5f5f5f;
}

.control-hint > div{
  margin: 25px 70px;
}

@media only screen and (max-width: 700px) {
  .control-hint {
    display: none;
  }
}

.control-hint__close-icon {
  position: relative;
  top: 2px;
  right: 2px;
}

.control-hint__hint {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#threeJS {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 700px) {
  #threeJS {
    overflow: hidden;
    width: unset;
  }
}

#threeJS > canvas {
  width: inherit !important;
  height: inherit !important;
}

@media only screen and (max-width: 700px) {
  #threeJS > canvas {
    height: 600px !important;
  }
}

.threeJS-preloader {
  position: absolute;
  background-color: white;
  width: 100%;
  height: 100%;
  display: flex !important;
  justify-content: center;
  align-items: center;
  /* animation: rotation 8s infinite linear; */
}

#threeJS-preloader {
  display: none;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: rgba(0, 0, 0, 0.6);
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
